
[buildout]
extends = eea.cfg

auto-checkout =
  bise.diazotheme
  Products.PloneGlossary

always-checkout = true
allow-picked-versions = true

[configuration]
eggs +=
  Pillow
  bise.theme
  Paste
  plone.app.debugtoolbar
  plone.app.ldap
  bise.ecosystemservices
  collective.z3cform.widgets
  eea.pdf
  collective.linkcheck
  Products.PloneHotfix20160419
  Products.PloneHotfix20170117
  BeautifulSoup
  collective.cover
  bise.diazotheme
  bise.country
  bise.datatiles
  Products.PloneGlossary
  zope.app.pagetemplate
  zope.app.component

zcml +=
  eea.pdf
  collective.linkcheck
  collective.cover
  bise.diazotheme
  bise.country
  bise.datatiles

[sources]
bise.diazotheme = git https://github.com/eea/bise.diazotheme.git pushurl=git@github.com:eea/bise.diazotheme.git
Products.PloneGlossary = git https://github.com/collective/Products.PloneGlossary.git branch=folderish-definition

[versions]
zc.recipe.cmmi = 1.3.6
z3c.jbot = 0.7.1
zope.configuration = 3.8.1
BAPDatabase = 0.8.0
eea.faceted.inheritance = 4.9
SQLAlchemy = 0.8.2
meld3 = 0.6.10
superlance = 0.8
zope.sqlalchemy = 0.7.2
z3c.sqlalchemy = 1.4.0

# Our own products.
# Change version pinnings here:
bise.theme = 4.0
bise.multilingualglossary = 1.0
bise.biodiversityfactsheet = 1.6
bise.catalogueindexer = 1.5
bise.ecosystemservices = 2.3
bise.country = 1.8
bise.datatiles = 1.2

zope.app.pagetemplate = 3.11.2
zope.app.component = 3.9.3

sparql-client = 1.8
plone.app.contenttypes = 1.0
meld3 = 0.6.10
superlance = 0.8
collective.z3cform.widgets = 1.0b11
Fabric = 1.10.1
ecdsa = 0.11
paramiko = 1.15.2
pycrypto = 2.6.1
PrintingMailHost = 0.8
collective.linkcheck = 1.3.dev1-gww-eea
feedparser = 5.2.1

elementtree = 1.2.6-20050316
cffi = 1.7.0
cryptography = 1.5
idna = 2.1
ndg-httpsclient = 0.4.2
pyOpenSSL = 16.1.0
pyasn1 = 0.1.9
plone.formwidget.autocomplete = 1.2.11
plone.app.iterate = 3.3.1
jarn.mkrelease = 3.10

# collective.cover compatibility
plone.app.event = 1.2.7
plone.app.blocks = 3.1.0
plone.app.drafts = 1.0
plone.app.tiles = 1.1.0
plone.event = 1.1
plone.tiles = 1.8.0

# remove unassociated template warnings
grokcore.view = 2.9
plone.app.jquery = 1.9.1.3
