
[buildout]
extends = 
  eea.cfg
  https://raw.githubusercontent.com/eea/bise.plonebuildout/master/versions.cfg

auto-checkout =
  bise.diazotheme
  Products.PloneGlossary

always-checkout = true
allow-picked-versions = true

[configuration]
eggs +=
  Pillow
  bise.theme
  Paste
  plone.app.debugtoolbar
  plone.app.ldap
  bise.ecosystemservices
  collective.z3cform.widgets
  eea.pdf
  collective.linkcheck
  Products.PloneHotfix20160419
  Products.PloneHotfix20170117
  BeautifulSoup
  collective.cover
  bise.diazotheme
  bise.country
  bise.datatiles
  Products.PloneGlossary
  zope.app.pagetemplate
  zope.app.component

zcml +=
  eea.pdf
  collective.linkcheck
  collective.cover
  bise.diazotheme
  bise.country
  bise.datatiles

[sources]
bise.diazotheme = git https://github.com/eea/bise.diazotheme.git pushurl=git@github.com:eea/bise.diazotheme.git
Products.PloneGlossary = git https://github.com/collective/Products.PloneGlossary.git branch=folderish-definition
