version: "2.1"

services:

  plone:
    image: "${BACKEND_IMAGE:?no such variable}"
    labels:
      io.rancher.scheduler.affinity:host_label_ne: reserved=yes
    depends_on:
      - zeo
      - memcached
    ports:
      - "${BACKEND_PORT:-8085}:8080"
    environment:
      TZ: "Europe/Copenhagen"
      ZEO_ADDRESS: "zeo:8080"
      ZOPE_MODE: "zeo_client"
      CORS_ALLOW_ORIGIN: "http://localhost:${FRONTEND_PORT:-3000}"
    entrypoint: sh -c "tail -f /dev/null"

  frontend:
    image: "${FRONTEND_IMAGE:?no such variable}"
    environment:
      RAZZLE_API_PATH: "http://localhost:${BACKEND_PORT}/${SITE_NAME:-Plone}"
      RAZZLE_INTERNAL_API_PATH: "http://plone:8080/${SITE_NAME:-Plone}"
      PORT: "${FRONTEND_PORT:-3000}"
    ports:
      - "${FRONTEND_PORT:-3000}:${FRONTEND_PORT:-3000}"
      - "${FRONTEND_PORT_NEXT:-3001}:${FRONTEND_PORT_NEXT:-3001}"
      - "${FRONTEND_ANALYZE_PORT:-8888}:${FRONTEND_ANALYZE_PORT:-8888}"
    entrypoint: sh -c "tail -f /dev/null"

  zeo:
    image: "${BACKEND_IMAGE:?no such variable}"
    labels:
      io.rancher.scheduler.affinity:host_label_ne: reserved=yes
    environment:
      TZ: "Europe/Copenhagen"
      ZOPE_MODE: "zeo"
    command:
      - zeo

  memcached:
    image: memcached:1.4.35
    labels:
      io.rancher.scheduler.affinity:host_label_ne: reserved=yes
    environment:
      TZ: "Europe/Copenhagen"
    command:
      - "-m"
      - "2048"

  esclient:
    build: ./elasticsearch/
    # image: eeacms/elastic:bise
    command: # Single node
          - elasticsearch
          - -Des.node.data=true
          - -Des.http.enabled=true
          - -Des.node.master=true
          - -Des.node.river=_none_
          - -Des.transport.tcp.compress=true
          - -Des.http.max_content_length=100mb
    ports:
      - "9200:9200"
    volumes:
      - ./snapshots:/snapshots:z

# backend demo-forests-p5-plone
# http-request set-path /VirtualHostBase/https/demo-forests-p5.eea.europa.eu:443/fise/VirtualHostRoot/_vh_api/%[path,regsub(\/api,,g)]
